.frame-child1 {
  position: absolute;
  top: calc(50% - 540px);
  left: 0;
  background: linear-gradient(180deg, #042cff, #ff0303 94.27%);
  width: 1960px;
  height: 1080px;
}
.frame-child2 {
  position: absolute;
  top: 194px;
  left: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 844px;
}
.semester-sgpa {
  cursor: pointer;
  position: absolute;
  top: 44px;
  left: 146px;
  font-size: var(--font-size-45xl);
  font-weight: 800;
  color: var(--color-black);
  display: inline-block;
  width: 592px;
  height: 150px;
}
.first-semester,
.second-semester,
.third-semester {
  cursor: pointer;
  position: absolute;
  top: 302px;
  left: 108px;
  font-weight: 500;
  display: inline-block;
  width: 512px;
  height: 96px;
}
.second-semester,
.third-semester {
  top: 490px;
  width: 584px;
  height: 98px;
}
.third-semester {
  top: 696px;
  width: 520px;
  height: 88px;
}
.frame-child3,
.frame-child4,
.frame-child5 {
  position: absolute;
  top: 298px;
  left: 620px;
  background-color: var(--color-gainsboro);
  width: 662px;
  height: 88px;
}
.frame-child4,
.frame-child5 {
  top: 495px;
}
.frame-child5 {
  top: 692px;
  border: 1px solid #fffcfc;
  box-sizing: border-box;
}
.input,
.input1 {
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-29xl);
  left: 628px;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 662px;
}
.input {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 302px;
  height: 84px;
}
.input1 {
  top: 502px;
  height: 86px;
}
.frame-child6,
.input1,
.input2,
.rectangle-button {
  border: 0;
  background-color: transparent;
  position: absolute;
}
.input2 {
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-29xl);
  top: 694px;
  left: 620px;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 662px;
  height: 88px;
}
.frame-child6,
.rectangle-button {
  cursor: pointer;
  padding: 0;
  top: 42px;
  left: 1002px;
  border-radius: var(--br-xl);
  background: linear-gradient(180deg, #0904ff, #fa0505);
  width: 364px;
  height: 112px;
}
.frame-child6 {
  top: 848px;
  left: 593px;
  width: 409px;
}
.go-back1,
.submit {
  position: absolute;
  top: 76px;
  left: 1060px;
  font-weight: 800;
  display: inline-block;
  width: 299px;
  height: 78px;
}
.submit {
  top: 882px;
  left: 692px;
  width: 409px;
}
.frame-child7 {
  position: absolute;
  top: 23px;
  left: 20px;
  background-color: var(--color-gray-200);
  width: 110px;
  height: 110px;
}
.hp1 {
  cursor: pointer;
  position: absolute;
  top: 36px;
  left: 30px;
  font-size: var(--font-size-45xl);
  font-weight: 800;
  background: linear-gradient(180deg, #041dff, #ff0303);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 100px;
  height: 61px;
}
.rectangle-root {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
